<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>@ViewData["Title"] - Eurake</title>
    <link rel="stylesheet" href="~/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="~/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/xenon-core.css">
    <link rel="stylesheet" href="~/css/xenon-forms.css">
    <link rel="stylesheet" href="~/css/xenon-components.css">
    <link rel="stylesheet" href="~/css/xenon-skins.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/vue.min.js"></script>
      <!-- 公共脚本 -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/TweenMax.min.js"></script>
    <script src="~/js/resizeable.js"></script>
    <script src="~/js/joinable.js"></script>
    <script src="~/js/xenon-toggles.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="~/js/xenon-custom.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Eurake</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">QT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Eurake - <a asp-area="" asp-page="/Privacy">VR</a>
        </div>
    </footer>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
